@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.backdrop-blur-md {
  backdrop-filter: blur(8px);
}

.ant-card-cover {
  transition: transform 0.3s ease;
}

.ant-card:hover .ant-card-cover {
  transform: scale(1.02);
}

.ant-btn-primary {
  border-radius: 6px;
  font-weight: 500;
}

.ant-form-item-label > label {
  color: #15803d;
  font-weight: 500;
}


.wow-card:hover {
  transform: scale(1.03);
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1);
  border-color: #16a34a !important;
}